button {
    background-color: rgb(228, 228, 228);
    color: rgb(29, 29, 29);
    transition-property: background-color, color;
    transition-duration: 1s;
    width: auto;
    height: auto;
    font-size: 16px;
    border: solid 1px #000;
    border-radius: 50px;
    display: flex;
    margin: 8px 16px;
    padding: 16px 32px;
    cursor: pointer;
    align-items: center;
}

button:hover {
    background-color: aquamarine;
    color: rgb(54, 54, 54);
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-item {
    background-color: rgb(228, 228, 228);
    width: 80px;
    height: 80px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

span {
    color: #000;
    font: bold;
    font-size: 48px;
}

.item {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    transition: all;
    transition-duration: 1s;
}

.item1:hover {
    transform: matrix(1, 2, -1, 1, 80, 80);
}

.item2:hover {
    transform: scale(0.5) translate(-100%, -100%);
}

.item3:hover {
    transform: skew(30deg, 20deg);
}

.item4:hover {
    transform: rotate(0.5turn);
}

.item5:hover{
    transform: scale(2, 0.5);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}