img {
  width: 350px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.resume-card {
  margin: 64px auto;
  width: 350px;
  height: auto;
  border: 1px solid #dddddd;
  border-radius: 16px;
  -webkit-box-shadow: 7px -5px 10px 0px #4b0082, 11px -9px 10px 0px #0000ff,
    16px -14px 10px 0px #00ff00, 20px -17px 10px 0px #ffff00,
    24px -19px 10px 0px #ff7f00, 27px -23px 10px 0px #ff0000,
    1px 1px 29px 1px rgba(0, 0, 0, 0);
  box-shadow: 7px -5px 10px 0px #4b0082, 11px -9px 10px 0px #0000ff,
    16px -14px 10px 0px #00ff00, 20px -17px 10px 0px #ffff00,
    24px -19px 10px 0px #ff7f00, 27px -23px 10px 0px #ff0000,
    1px 1px 29px 1px rgba(0, 0, 0, 0);
}

.celeb-name {
  margin: 16px 16px 8px 16px;
  font-family: "Poppins", sans-serif;
}

.celeb-description {
  margin: 8px 16px 16px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.divisor {
  width: auto;
  height: 0.5px;
  background-color: #ff5ecf;
}

.link-tree {
  display: flex;
  flex-direction: row;
}

.globe-icon {
  width: 18px;
  height: 18px;
  display: inline-flex;
  margin: 8px 16px 16px 16px;
  vertical-align: middle;
  margin: 8px 8px 8px 16px;
}

.link-site {
  display: inline-flex;
  vertical-align: middle;
  margin: 8px 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.resume-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 16px 16px 16px 16px;
}
